.blah {
    display: none;
}

.flash .blah {
    position: absolute;
}

li .blah {
    position: absolute;
    left: -70px;
    width: 65px;
    top: -5px;
}

.blah ul {
    list-style-type: none;
}

.blah ul li:before {
    content: "\25ba\00a0";
}